*.pydevproject
.metadata
.gradle
bin/
tmp/
lib/
*.tmp
*.bak
*.ucls
*.swp
*~.nib
local.properties
.loadpath

# temp lock files created by mqtt
MQTTsub*/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

# Eclipse
.classpath
